// COLORS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-weak-dark: #999;
$color-grey-dark: #777;
$color-grey-darker: #555;
$color-grey-very-dark: #333;

$color-blue-light: rgb(67, 160, 247);
$color-blue: #1574cc;
$color-blue-dark: #154297;

$color-orange-light: rgb(252, 203, 147);
$color-orange: #f0a44e;
$color-orange-dark: #e08824;

